/nbproject/
/tests/test_results/reports/
/vendor/
/tests/test_results/error_screenshots/
/doc/tex/manual.toc
/doc/tex/manual.synctex.gz
/doc/tex/Create_a_gene_variant_database.out
/doc/tex/manual.tex.backup
/doc/tex/Create_a_gene_variant_database.toc
/doc/tex/config.log
/doc/tex/manual.log
/doc/tex/manual.aux
/doc/tex/manual.dvi
/doc/tex/Curate_a_gene_variant_database.log
/doc/tex/Curate_a_gene_variant_database.aux
/doc/tex/Curate_a_gene_variant_database.synctex.gz
/doc/tex/Create_a_gene_variant_database.log
/doc/tex/Create_a_gene_variant_database.synctex.gz
/doc/tex/Create_a_gene_variant_database.aux
/doc/tex/Curate_a_gene_variant_database.out
/doc/tex/manual.out
/doc/tex/Curate_a_gene_variant_database.toc
/tests/phpunit_selenium/curatorTest.php
/tests/phpunit_selenium/collaboratorTest.php
/tests/phpunit_selenium/adminTest.php
/tests/phpunit_selenium/managerTest.php
/tests/phpunit_selenium/tempTest.php
/tests/phpunit_selenium/submitterTest.php
/tests/phpunit_selenium/importTest.php
/tests/phpunit_selenium/authorizationTest.php