/nbproject/
/tests/test_results/reports/
/tests/phpunit_selenium/
/vendor/
/tests/test_results/error_screenshots/
/doc/tex/manual.toc
/doc/tex/manual.synctex.gz
/doc/tex/Create_a_gene_variant_database.out
/doc/tex/manual.tex.backup
/doc/tex/Create_a_gene_variant_database.toc
/doc/tex/config.log
/doc/tex/manual.log
/doc/tex/manual.aux
/doc/tex/manual.dvi
/doc/tex/Curate_a_gene_variant_database.log
/doc/tex/Curate_a_gene_variant_database.aux
/doc/tex/Curate_a_gene_variant_database.synctex.gz
/doc/tex/Create_a_gene_variant_database.log
/doc/tex/Create_a_gene_variant_database.synctex.gz
/doc/tex/Create_a_gene_variant_database.aux
/doc/tex/Curate_a_gene_variant_database.out
/doc/tex/manual.out
/doc/tex/Curate_a_gene_variant_database.toc